/* HOME
----------------- */
/* common part
----------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif";
  color: #2b2a27;
}

a {
  text-decoration: none;
  color: #2b2a27;
}

img {
  width: 100%;
}

/* body
----------------- */
.mainvisual {
  background: url(../img/mainvisual.jpg) no-repeat center center/cover;
  height: 100vh;
  margin-bottom: 80px;
}

/* title
----------------- */
.title {
  text-align: center;
}
.title h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 23px;
  letter-spacing: -1.5px;
}
@media (max-width: 834px) {
  .title h1 {
    margin-bottom: 12px;
  }
}
.title P {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
}
@media (max-width: 834px) {
  .title P {
    padding: 0 24px;
  }
}

/* recipe-photo
----------------- */
.recipe-photo .list {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 834px) {
  .recipe-photo .list {
    flex-direction: column;
  }
}
.recipe-photo .list li {
  width: 33.3333333333%;
}
@media (max-width: 834px) {
  .recipe-photo .list li {
    width: 100%;
  }
}
.recipe-photo .list li img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

/* more-link
----------------- */
.more-link {
  text-align: center;
  margin-bottom: 93px;
}
.more-link .link-buttom {
  display: inline-block;
  padding: 0 60px;
  border: solid 1px #2b2a27;
}
.more-link .link-buttom a {
  font-size: 14px;
  line-height: 48px;
}
.more-link .link-buttom a:hover {
  opacity: 0.5;
}

/* footer
----------------- */
#footer {
  text-align: center;
}
#footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 13px;
}
#footer ul li {
  list-style: none;
}
#footer ul li a {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.5px;
  border-bottom: solid 1px #2b2a27;
}
#footer ul li a:hover {
  opacity: 0.5;
}
#footer p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

/* recipe-page
----------------- */
#recipe-page {
  font-size: 16px;
  line-height: 24px;
}
#recipe-page .recipe1 {
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 834px) {
  #recipe-page .recipe1 {
    flex-direction: column;
    margin-bottom: 53px;
  }
}
#recipe-page .recipe1 img {
  width: 50%;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 834px) {
  #recipe-page .recipe1 img {
    width: 100%;
  }
}
#recipe-page .recipe1 .text-conteiner {
  width: 50%;
  margin-top: 42px;
  padding: 0 5%;
}
@media (max-width: 834px) {
  #recipe-page .recipe1 .text-conteiner {
    width: 100%;
  }
}
#recipe-page .recipe1 .text-conteiner h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 20px;
}
#recipe-page .recipe1 .text-conteiner p {
  margin-bottom: 40px;
  padding-right: 4px;
}
@media (max-width: 834px) {
  #recipe-page .recipe1 .text-conteiner p {
    padding-right: 0;
  }
}
#recipe-page .recipe1 .text-conteiner h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.3px;
  padding-bottom: 4px;
  margin-bottom: 22px;
  border-bottom: dotted 1px #cccccc;
  line-height: 22px;
}
#recipe-page .recipe1 .text-conteiner .ingredients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
#recipe-page .recipe1 .text-conteiner .ingredients dt {
  width: 50%;
  line-height: 18px;
  margin-bottom: 7px;
  border-bottom: dotted 1px #cccccc;
}
#recipe-page .recipe1 .text-conteiner .ingredients dd {
  width: 50%;
  line-height: 18px;
  margin-bottom: 7px;
  padding-bottom: 4px;
  border-bottom: dotted 1px #cccccc;
  text-align: right;
}
#recipe-page .recipe1 .text-conteiner .how-to-title {
  margin-bottom: 22px;
}
#recipe-page .recipe1 .text-conteiner .how-to li {
  width: calc(100% - 20px);
  margin-bottom: 7px;
  padding-bottom: 4px;
  margin-left: 20px;
  border-bottom: dotted 1px #cccccc;
  letter-spacing: -0.3px;
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */